<app-loading *ngIf="loading" class="m-5"></app-loading>


<div class="row" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artist.images | noimage" [alt]="artist.name" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3>{{ artist.name }}</h3>
        <p>
            <a [href]="artist.external_urls.spotify" target="_blank">
                Ir a la página del artista
            </a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger">
            Regresar
        </button>
    </div>
</div>

<div class="row" *ngIf="!loading">
    <div class="col">
        <table class="table">
            <thead>
                <th>Foto</th>
                <th>Albúm</th>
                <th>Canción</th>
                <th>Vista Previa</th>
            </thead>
            <tbody>
                <tr *ngFor="let track of toptracks">
                    <td>
                        <img [src]="track.album.images | noimage " alt="track.name" class="img-thumb">
                    </td>
                    <td>{{ track.album.name }}</td>
                    <td>{{ track.name }}</td>
                    <td>
                        <iframe [src]="track.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>