<h1>Héroes <small>Marvel & DC</small></h1>
<hr>


<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con tus parametros de busqueda
        </div>
    </div>
</div>

<div class="card-columns">
    <app-heroe-tarjeta [heroe]="heroe" [index]="heroe.index" *ngFor="let heroe of heroes"></app-heroe-tarjeta>
</div>

<div class="row" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <a class="btn btn-outline-danger btn-block" [routerLink]="['/heroes']">Regresar</a>
    </div>
</div>