<h1>Héroe <small>Nombre del Héroe</small></h1>
<hr>
<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" type="button" name="button" routerLink="/heroes">
      <i class="fas fa-arrow-circle-left"></i> Regresar
    </button>
  </div>
</div>


<div class="row animate__animated animate__fadeIn animate__faster">
  <div class="col">
    <form (ngSubmit)="guardar(f)" #f="ngForm">

      <div class="form-group">
        <label>Firebase ID</label>
        <input type="text" placeholder="Firebase ID" class="form-control" name="id" id="id" disabled="disabled" [(ngModel)]="heroe.id">
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>

      <div class="form-group">
        <label>Nombre del héroe</label>
        <input type="text" placeholder="nombre" class="form-control" required name="nombre" id="nombre" [(ngModel)]="heroe.nombre">
      </div>

      <div class="form-group">
        <label>Poder</label>
        <input type="text" placeholder="poder" class="form-control" name="poder" id="poder" [(ngModel)]="heroe.poder">
      </div>

      <div class="form-group">
        <label>Estado</label>
        <br>
        <button *ngIf="heroe.vivo" (click)="heroe.vivo = false" class="btn btn-outline-success w-50" type="button">
          <i class="fas fa-smile-wink"></i> Vivo
        </button>

        <button *ngIf="!heroe.vivo" (click)="heroe.vivo = true" class="btn btn-outline-danger w-50" type="button">
          <i class="fas fa-dizzy"></i> Muerto
        </button>
      </div>

      <hr>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary w-25">
          <i class="fas fa-save"></i> Guardar
        </button>
      </div>

    </form>
  </div>
</div>
