<ion-header class="ion-no-border">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" color="tertiary">
            </ion-back-button>
        </ion-buttons>
        <ion-title>{{lista.titulo}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-list color="dark">
        <ion-item color="dark">
            <ion-label position="floating">Nuevo Item</ion-label>
            <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter)="agregarItem()"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list color="dark">
        <ion-list-header color="dark" *ngIf="lista.items.length > 0">
            <ion-label>
                Tareas
            </ion-label>
        </ion-list-header>
        <ion-item-sliding class="animated fadeInDown" *ngFor="let item of lista.items; let i = index">
            <ion-item color="dark">
                <ion-checkbox slot="start" color="tertiary" [(ngModel)]="item.terminado" (ionChange)="cambioCheck(item)"></ion-checkbox>
                <ion-label> {{ item.desc}}</ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="borrar(i)" expandable>
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>