<h4>Formularios <small> Template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <small class="form-text text-danger" *ngIf="nombre.invalid && nombre.touched">Minumo 4 caracteres</small>
        <input class="form-control" type="text" [class.is-invalid]="nombre.invalid && nombre.touched" name="nombre" [ngModel]="usuario.nombre" placeholder="Nombre" required minlength="4" #nombre="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <small class="form-text text-danger" *ngIf="apellido.invalid && apellido.touched">Minumo 4 caracteres</small>
        <input class="form-control" type="text" [class.is-invalid]="apellido.invalid && apellido.touched" name="apellido" [ngModel]="usuario.apellido" placeholder="Apellido" required minlength="4" #apellido="ngModel">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
      <small class="form-text text-danger" *ngIf="email.invalid && email.touched">Ingrese un correo valido</small>
      <input class="form-control" type="email" [class.is-invalid]="email.invalid && email.touched" name="email" placeholder="Correo electrónico" [ngModel]="usuario.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel" required>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-8">
      <select name="pais" #pais="ngModel" [ngModel]="usuario.pais" [disabled]="paises.length === 0" required class="form-control" [class.is-invalid]="pais.invalid && pais.touched">
        <option [value]="p.codigo" *ngFor="let p of paises">{{p.nombre}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Género</label>
    <div class="col-8">
      <div class="form-check form-check inline">
        <input class="form-check-input" type="radio" [ngModel]="usuario.genero" name="genero" value="M" required #genero="ngModel" [class.is-invalid]="genero.invalid && genero.touched">
        <label class="form-check-label">Masculino</label>
      </div>
      <div class="form-check form-check inline">
        <input class="form-check-input" type="radio" [ngModel]="usuario.genero" name="genero" value="F" required #genero="ngModel" [class.is-invalid]="genero.invalid && genero.touched">
        <label class="form-check-label">Femenino</label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
