<div [ngClass]="alerta" class="alert" role="alert">
  A simple primary alert—check it out!
</div>

<button class="btn btn-info" type="button" (click)="alerta = 'alert-info'">INFO</button>
<button class="btn btn-danger" type="button" (click)="alerta= 'alert-danger'">DANGER</button>

<br><br>

<h3 [ngClass]="{ 'text-danger': text, 'text-info': !text}">
  Hola Mundo!!
</h3>

<button type="button" class="btn" (click)="text = !text" [ngClass]="{ 'btn-danger': text, 'btn-info': !text }">Cambiar</button>

<br>
<br>
<br>
<h3>Proceso Asíncono</h3>

<button type="button" class="btn btn-primary" (click)="ejecutar()" [disabled]="loading">
  <i class="fas" [ngClass]="{'fa-save':!loading, 'fa-sync-alt fa-spin':loading}"></i>
    <span *ngIf="!loading"> Guardar Cambios</span>
    <span *ngIf="loading"> Espere por favor</span>
</button>
